.home-nav {
  scroll-behavior: smooth;
}

.home-full {
  background-color: #000000d9;
  overflow: hidden;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at center, #452c63, black 100%);
  height: 100vh;
  width: 100%;
  padding-bottom: 10px;
}
.avatarDescription {
  width: 80%;
  margin-bottom: 50px;
}

.heading {
  color: white;
  font-size: 2rem;
  padding-bottom: 20px;
  text-shadow: 2px 2px black;
}

.intro {
  padding-left: 150px;
  padding-right: 150px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.core-heading {
  color: white;
  font-size: 2rem;
  padding-top: 50px;
  text-shadow: 2px 2px black;
  text-align: center;
  text-decoration: bold;
}

@media (max-width: 768px) {
  .intro {
    padding-left: 70px;
    padding-right: 70px;
  }
  .about-me {
    padding-left: 70px;
    padding-right: 70px;
  }
}
