.home-nav {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.852);
  background-image: url("../images/background_home.jpg");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.welcome-panel {
  padding-top: 300px;
}

.home-full {
  background-color: rgba(0, 0, 0, 0.852);
}
.hire-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
